<!-- 16.08.21 모델클래스 참조. -->
@model PartyInvites.Models.GuestResponse
@{ Layout = null; }

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <!-- 16.08.21 부트스트랩 디자인 적용을 위한 참조. -->
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- 16.08.21 유효성검사 실패 헬퍼메서드들 디자인 먹이기. -->
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <!-- 16.08.21 부트스트랩 적용.-->
    <div class="panel panel-success">
        <header class="panel-heading text-center"><h4>RSVP</h4></header>
        <nav></nav>
        <section class="panel-body">
            <!-- 16.08.21 post방식으로 보내기위한 폼생성.-->
            @using (Html.BeginForm())
            {
        <!-- 16.08.21 유효성검사에 대한 오류메시지 확인.-->
                @Html.ValidationSummary()
                <article class="form-group">
                    <!-- 16.08.21 람다식으로 작성. 헬퍼메서드사용. 컨트롤 생성.-->
                    <label>이름 : </label>
                    @Html.TextBoxFor(x => x.Name, new { @class= "form-control"})
                </article>
                <article class="form-group">
                    <label>메일 : </label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </article>
                <article class="form-group">
                    <label>핸드폰 : </label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </article>
                <article class="form-group">
                    <label>드롭박스 : </label>
                    <!-- 16.08.21 드롭다운리스트생성.-->
                    @Html.DropDownListFor(x => x.WillAttend, new[] { new SelectListItem() { Text="Yes", Value=bool.TrueString},
       new SelectListItem() { Text="No", Value=bool.FalseString}}, "Choose an option", new { @class = "form-control" })
                </article>
                <article class="text-center">
                    <input type="submit" value="Submit RSVP" />
                </article>
            }
        </section>
    </div>
</body>
</html>
